.about-us-block {
  margin: 10vh 5vw 0 5vw;
  height: 55vh;
}

h1 {
  font-size: 24px;
  color: black;
}

p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
