$light-green: rgb(95, 226, 152);
$lighter-green: rgb(136, 239, 181);

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  @media screen and (max-width: 992px) {
    width: 100vw;
    margin-bottom: 20px;
  }
}

.nav-container ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-container li {
  margin: 0 10px;
}

.nav-container li :hover {
  color: $lighter-green;
}

.nav-container li a {
  margin: 0 10px;
}

.active-link {
  // font-weight: bold;
  color: $light-green;
  // background-color: white;
  border-radius: 5px;
}

.page-container {
  display: flex;
  width: 95vw;
  height: 100vh;
}

.left-section {
  width: 35vw;
  background: #f0f0f0;
  padding: 20px;
  // height: 95vh;
  overflow-y: auto;
}

.right-section {
  width: 65vw;
  background: url("/src/assets/back1.avif") center/cover no-repeat;
  color: #fff;
  padding: 20px;
}

.centered-content {
  text-align: center;
  margin-top: 20vh;
}

.menasa-text {
  text-align: center;
  color: white;
}

@media screen and (max-width: 992px) {
  .page-container {
    height: unset;
  }
}
