<!-- PC VIEW -->
<div *ngIf="!mobileQuery.matches" style="height: 100vh">
  <div class="page-container">
    <div class="left-section">
      <router-outlet></router-outlet>
    </div>
    <div class="right-section">
      <div class="nav-container">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
          <li>
            <a routerLink="/branches" routerLinkActive="active-link"
              >Branches</a
            >
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active-link">About Us</a>
          </li>
        </ul>
      </div>
      <div class="centered-content">
        <h1 class="title">Menasa Demo</h1>
        <h3>
          🛎 Welcome to Menasa’s <br />
          commission-free ordering <br />demo-menu for delivery<br />
          and pickup.
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Mobile View -->
<div *ngIf="mobileQuery.matches" style="height: 100vh">
  <div class="page-container">
    <div class="nav-container">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li>
          <a routerLink="/branches" routerLinkActive="active-link">Branches</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active-link">About Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menasa-text">
    <h1>Menasa Demo</h1>
    <h3>
      🛎 Welcome to Menasa’s <br />
      commission-free ordering <br />
      demo-menu for delivery<br />
      and pickup.
    </h3>
  </div>
  <div style="overflow-y: auto; background: #f0f0f0; height: 100vh">
    <router-outlet></router-outlet>
  </div>
</div>
